/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js
/public/js
/dist/*/
/out
/.repl
*.log
/.env
nashorn_code_cache/
.cljs_nashorn_repl/
.rebel_readline_history
.shadow-cljs/
dist/manifest.edn
